.input {
  font-size: 16px;
  border-radius: 50%;

  &::placeholder,
  &:disabled,
  &:disabled::placeholder {
    color: '#6d747b !important';
  }

  &:checked {
    background-color: transparent;
    border-color: var(--mantine-primary-color-filled);
    border-width: 2px;
  }
}

.inputError {
  color: var(--mantine-color-gray-9);

  &,
  &:focus-within {
    border-color: var(--mantine-color-red-6);
  }
}

.label {
  font-size: 16px;
  line-height: 24px;
  color: rgba(163, 163, 163, 1);
}

.icon {
  color: var(--mantine-primary-color-filled);
  width: 9px;
  height: 9px;
}