.card {
  background-color: var(--mantine-color-gray-0);
  gap: 32px;
}

.logo {
  margin-bottom: auto;
}

.bold {
  font-weight: 700;
}

.avatar {
  margin-left: -12.25px;

  &:nth-child(1) {
    margin: 0;
  }
}