.navigation {
  display: flex;
  gap: 32px;
}

.link {
  border-radius: 20px;
  background-color: var(--mantine-color-gray-2);
  background-color: transparent;
  color: var(--mantine-color-gray-5);
  white-space: nowrap;

  &:disabled {
    background-color: var(--mantine-color-gray-2);
    color: var(--text-color);
    pointer-events: none;
  }
}